/*
 * @Author: C.C. 
 * @Date: 2021-07-13 17:35:55 
 * @Last Modified by:   C.C. 
 * @Last Modified time: 2021-07-13 17:35:55 
 */

$backgroundColor: #e6e7ee;
$lightColor: #fff;
$darkColor: #b8b9be;
$primaryTextColor: #31344b;
